<h1>Characters</h1>

<% if @characters.present? %>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= link_to character.user.email, user_path(character.user) %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

<%= render "breadcrumbs" %>
